apscheduler==3.11.2
asgiref==3.11.1
cffi==2.0.0
colorama==0.4.6
cryptography==46.0.5
Django==6.0.3
django-adminlte3==0.1.6
django-allauth==65.14.3
django-apscheduler==0.7.0
django-ratelimit==4.1.0
fido2==2.1.1
Pillow==12.2.0
PyJWT==2.12.1
pycparser==3.0
python-dotenv==1.2.2
qrcode==8.2
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
